.cvContainer {
  display: flex;
  justify-content: space-between;
}

.headLine {
}

.privateName {
  margin-top: 0;
  font-size: 3.5rem;
  padding-top: 2rem;
  padding-left: 6rem;
  margin-bottom: 0;
}

.lastName {
  margin-top: 0;
  font-size: 3.5rem;
  font-weight: bold;
  padding-left: 6rem;
}

.smallDetailsContainer {
  margin-right: 2rem;
}

.miniDetails {
  margin: 0;
  font-size: 1rem;
  color: gray;
  margin-left: 2px;
}

.iconNtextContainer {
  display: flex;
  margin-top: 16px;
  margin-bottom: 6px;
}

.bigDetails {
  margin: 0;
  font-size: 1.3rem;
  margin-left: 10px;
  font-weight: bold;
}

.bigDetailsList {
  margin: 0;
  font-size: 1.3rem;
  margin-left: 2px;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(82, 82, 82);
}

.bigDetailsListSpecial {
  margin: 0;
  font-size: 1.4rem;
  margin-left: 2px;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(43, 150, 226);
}

.bigIcons {
  color: rgb(43, 150, 226);
  border-radius: 34px;
}
